<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Confirmação de Email - WoPhi!</title>
  </head>
  <body
    style="font-family: 'Helvetica Neue', Arial, sans-serif; background-color: #000000; margin: 0; padding: 0; color: #fff;"
  >

    <div style='margin: 12px;'>
      <img
        src='https://www.wophi.be/images/Header.png'
        alt='Explosão de Cores'
        style='max-width: 330px; height: auto; display: block; margin: 0 auto; padding-top: 31px'
      />
    </div>

    <center>
      <div
        style='max-width: 600px; margin: 30px auto; padding: 30px; border-radius: 10px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); background: linear-gradient(to right, #000000 0%, #272727 100%);'
      >
        <h2
          style='color: #FFFF00; text-align: center; margin-bottom: 20px;'
        >Clique no botão abaixo para confirmar seu endereço de email:</h2>

        <div style='text-align: center;'>
          <a
            href='http://url-do-front/email-confirmation/?token={{token}}'
            target='_blank'
            rel='noopener noreferrer'
            style='display: inline-block; margin: 15px auto; padding: 10px 25px; background: #808080; border-radius: 5px; text-align: center; text-decoration: none; color: #fff; font-size: 18px; font-weight: bold; transition: background 0.3s;'
          >
            Confirmar Email
          </a>
        </div>
      </div>
    </center>
  </body>
</html>